#satinal{
        position: absolute;
        top: 45%;
        left: 45%;
        font-family: sans-serif;
        width: 110px;
        height: 45px;
        border-radius: 15px;
        border: none;
        background-color: blue;
        color: azure;
}